/* 
Challenge: 
Make the button look like Twitter's "Following" button!
(Except for the font)

Hints:
border color: #cfd9de
text color: #0f1419
Remember the font-weight!
*/
.follow-button {
    color: #0f1419;
    background: white;

    border: 1px solid #cfd9de;
    border-radius: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-weight: bold;
}