.main{
    margin-top: 100px;
}
.logo-png{
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
}
.search-bar{
    display: block;
    width: 400px; /*inner content*/
    line-height: 24px; /*inner content height of each line*/

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;

    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
}

    .gs-btn{
        margin-top: 30px;
        margin-left: 4px;
        margin-right: 4px;
        background-color: #dfe1e5;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: bold;
        color: #3c4043;
    }

    .ifl-btn{
        margin-top: 30px;
        margin-left: 4px;
        margin-right: 4px;
        background-color: #dfe1e5;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: bold;
        color: #3c4043;
    }
