body {
    margin: 20px;
    font-family: Helvetica, Verdana, Tahoma, sans-serif;
}

.card {
    width: 400px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: lightyellow;
    color: #431a6c;
}

.avatar {
    width: 150px;
    border: 2px solid #431a6c;
    border-radius: 50%;
}

.info {
    margin: 0 auto 0 auto;
    a:link{
        color: #FF6666;
        text-decoration: none;
    }
    a:visited {
        color: #2EC4B6;
    }
}   

/* UTILITY CHALLENGE */

.italic {
    font-style: italic;
}

.border-double{
    border: 6px double #CCFF66;
}