body {
    margin: 0px;
    color: #82a5ca;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

#hero{
    background-image: url("images/galaxy.webp");
    background-size: cover;
    padding: 10px 0 40px 0;
}
    
#title{
    text-shadow: 0px 0px 10px black;
}    


#tac{
    font-size: 12px;
    font-weight: 200;
    border-bottom: 1px solid #222222;
}

#main-logo{
    width: 100px;
    margin-top: 20px;
}

.btn{
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: inherit;
    font-weight: 600;
    color: #82a5ca;
}

.underline{
    /* text-decoration: underline; */
    /* color: white */
    border-bottom: 4px solid white;
}