body {
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    /* background-color: #a2d2ff; */
    background: linear-gradient(#a2d2ff,#EFB0C9);
    color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

#bday-date {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
}

#bff-img{
    width: 150px;
    margin-top: 20px;
    border-radius: 50%;
    border: #EFB0C9 5px solid;
}

#header {
    display: flex;
    /* child display:flex creates highlight to only highlight text, not whole block */
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
}

/* GIFT CLASS */
.gift-section {
    margin-top: 30px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0px;
}

.gift-img {
    width: 400px;
    height: 400px;
    /* background: linear-gradient(lightskyblue,white); */
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    margin: 0 auto;
    border: 6px solid #ffffff;
    border-radius: 10px;
}

/* GIFT SECTION */
#gift-img-happy:hover {
    background-image: url("images/happy.gif");
    background-size: cover;
}

/* HOT SECTION */
#gift-img-hot:hover {
    background-image: url("images/hot.gif");
    background-size: cover;
}

/* ONE-WORD SECTION */
#gift-img-one-word:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3cDZ6cHMzZWtzb3g3dzFnYThyNHJudWd4azF4bzN6eWdyMDZxY2pwcyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/XvYiynNC3vzkG2pviH/giphy.gif");
    background-size: cover;
}

/* BADASS SECTION */
#gift-img-badass:hover {
    background-image: url("images/badass.gif");
    background-size: cover;
}

/* CHEERS SECTION */
#gift-img-cheers {
    height: 200px;
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
    background-size: cover;
    height: 200px;
}

/* FOOTER */
#footer {
    width: 400px;
    margin: 40px auto 20px auto;
    font-size: 14px;
    font-style: italic;
}

a {
    color: #ffffff;
}