.card {
    color: #222222;
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /*padding: 20px; Padding property within card element */
    padding-right: 100px;
    padding-top: 100px;
    padding-left:0px;
    padding-bottom:0px;
}
