div {
    text-align: center;
    color: white;
    margin: 5px;
    padding: 25px 0;
    background: #e5383b;
    font-size: 30px;
    font-weight: bold;
}

div:hover {
    background: #f1faee;
    color: #1d3557;
    cursor: pointer;
    background-image:url("eyes.jpg");
    background-size: cover;
}