.red-circle {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background: #BC002D;
    
    /* 
    Challenge:
    Translate this into using the margin shorthand. Face of a clock - top right bottom left
    */
    margin: 40px auto 40px auto;
    
}