 /* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
    background: gray;     /* red, blue, yellow, etc. OR hex color codes */
    color: goldenrod;            /* red, blue, yellow, etc */
    font-size: 40px;        /* 0px - 100px and beyond */
    font-weight: normal;   /* lighter, normal, bold  */
    text-align: right;      /* left, center or right  */ 
    margin-top: 20px;        /* From 0px and upwards   */
    margin-right: 20px;      /* From 0px and upwards   */
}





